doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (false) bar(1 + 5)
    link(rel="stylesheet", href="style.css")
  body

    h1 Surakarta Board Game

    #board
      //- SVG
      //- 6x6 grid with 2 max diameter circles : Width 10x the size of a square.
      //- 2 loops : external and internal
      //- 2 players : black and white
      //- 12 pieces per player

      //- Customisations. Grid element width default to 100
      - var grid_size = 6
      - var loops = [2, 3]
      - var grid_element_width = 100
      - var piece_radius = 25


      //- Functions

      -
        var create_loop_path = function(grid_size, loop_real_index, grid_element_width){
          //  index of loops points
          loop_index = loop_real_index - 1;
          var min_coord = loop_index * grid_element_width;
          var max_coord = (grid_size - 1 - loop_index) * grid_element_width;

          var grid_max = (grid_size - 1) * grid_element_width;

          var radius = loop_index * grid_element_width;

          path = [`M ${min_coord} 0`, // First point, topmost left corner
          `A ${radius} ${radius} 0 1 0 0 ${min_coord}`, // top left arc
          `H ${grid_max}`, // Horizontal line top, to right arc
          `A ${radius} ${radius} 0 1 0 ${max_coord} 0`, // top right arc
          `V ${grid_max}`, // Vertical line right
          `A ${radius} ${radius} 0 1 0 ${grid_max} ${max_coord}`, // bottom right arc
          `H ${0}`, // Horizontal line bottom
          `A ${radius} ${radius} 0 1 0 ${min_coord} ${grid_max} `, // bottom left arc
          `V ${0}`, // Vertical line left
          "Z" // Close path
          ].join(" ");
          return path;
        }

        var calculate_view_box = function(grid_size, loops, margin, grid_element_width){
          //- biggest_loop = Math.max(loops); check later
          biggest_loop = 3;

          min = - (biggest_loop * grid_element_width) - margin
          max = (grid_size + (biggest_loop * 2)) * grid_element_width + margin;
          return [min, min, max, max].join(" ");
        }

      - var ext_loop_path = create_loop_path(grid_size, 2, grid_element_width)
      - var internal_loop_path = create_loop_path(grid_size, 3, grid_element_width)



      //- Calculated values
      - var view_box = calculate_view_box(grid_size, loops, grid_element_width, grid_element_width)


      svg(viewBox=view_box, class="board")
        //- First are drawn the two loops
        path(d=ext_loop_path class="external-loop")
        path(d=internal_loop_path class="internal-loop")
        //- une grille de 6x6 avec des arcs de cercle avec 2 de diamètre max : Largeur 10x la taille d'une case.

        //- Grid
        - for (var i = 0; i < grid_size ; i++)
          line(x1=0 y1=(i*100) x2=((grid_size - 1) * 100) y2=(i*100) class="grid")
          line(x1=(i*100) y1=0 x2=(i*100) y2=((grid_size - 1)  * 100) class="grid")

        //- Piece circles. Configured with initial positions
        - for (var x = 0; x < grid_size ; x++)
          - for (var y = 0; y < grid_size; y++)
            - var position_id = "position_" + x + "_" + y

            - var piece_class = ""
            if y <= 1
              - piece_class = "player_1"
            else if y >= 4
              - piece_class = "player_2"
            else
              - piece_class = "empty"

            circle(id=position_id cx=(x*100) cy=(y*100) r=piece_radius class=piece_class)



