doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (false) bar(1 + 5)
    link(rel="stylesheet", href="style.css")
  body

    h1 Surakarta Board Game

    #board
      //- SVG
      //- 6x6 grid with 2 max diameter circles : Width 10x the size of a square.
      //- 2 loops : external and internal
      //- 2 players : black and white
      //- 12 pieces per player

      //- Customisations. Grid element width default to 100
      - var grid_size = 6
      - var loops = [2, 3]
      - var grid_element_width = 100
      - var piece_radius = 25


      //- Functions

      -
        var create_loop_path = function(grid_size, loop_index, grid_element_width){
          example = ["M 300 200",
          "A 100 100 0 1 0 200 300",
          "H 800", // Horizontal line to 8,3
          "A 100 100 0 1 0 700 200",
          "V 800", // Vertical line to 8,8
          "A 100 100 0 1 0 800 700",
          "H 200", // Horizontal line to 3,8
          "A 100 100 0 1 0 300 800",
          "V 200", // Vertical line to 3,3``
          "Z" // Close path
          ].join(" ");
          return example;
        }

        var calculate_view_box = function(grid_size, loops, margin, grid_element_width){
          //- biggest_loop = Math.max(loops); check later
          biggest_loop = 3;

          min = - (biggest_loop * grid_element_width) - margin
          max = (grid_size + biggest_loop) * grid_element_width + margin;
          return [min, min, max, max].join(" ");
        }

      -
        var ext_loop_path = create_loop_path(6, 2)
        var ext_loop_path_old = [
          "M 300 200",
          "A 100 100 0 1 0 200 300",
          "H 800", // Horizontal line to 8,3
          "A 100 100 0 1 0 700 200",
          "V 800", // Vertical line to 8,8
          "A 100 100 0 1 0 800 700",
          "H 200", // Horizontal line to 3,8
          "A 100 100 0 1 0 300 800",
          "V 200", // Vertical line to 3,3``
          "Z" // Close path
          ].join(" ");

        var internal_loop_path = [
          "M 400 200",
          "A 200 200 0 1 0 200 400",
          "H 800", // Horizontal line to 8,4
          "A 200 200 0 1 0 600 200",
          "V 800", // Vertical line to 6,8
          "A 200 200 0 1 0 800 600",
          "H 200", // Horizontal line to 2,6
          "A 200 200 0 1 0 400 800",
          "V 200", // Vertical line to 4,2
          "Z" // Close path
          ].join(" ");


      //- Calculated values
      - var view_box = calculate_view_box(grid_size, loops, grid_element_width, grid_element_width)


      svg(viewBox=view_box, class="board")
        //- First are drawn the two loops
        path(d=ext_loop_path class="external-loop")
        path(d=internal_loop_path class="internal-loop")
        //- une grille de 6x6 avec des arcs de cercle avec 2 de diamètre max : Largeur 10x la taille d'une case.

        //- Grid
        - for (var i = 0; i <= grid_size ; i++)
          line(x1=0 y1=(i*100) x2=(grid_size * 100) y2=(i*100) class="grid")
          line(x1=(i*100) y1=0 x2=(i*100) y2=(grid_size * 100) class="grid")

        //- Piece circles. Configured with initial positions
        - for (var x = 2; x <= 8; x++)
          - for (var y = 2; y <= 8; y++)
            - var position_id = "position_" + (x - 2) + "_" + (y - 2)

            - var piece_class = ""
            if y <= 3
              - piece_class = "player_1"
            else if y >= 6
              - piece_class = "player_2"
            else
              - piece_class = "empty"

            circle(id=position_id cx=(x*100) cy=(y*100) r=piece_radius class=piece_class)



